li {
  list-style: none;
}

.title {
  text-align: center;
}

.todos {
  padding: 40px;
  text-align: center;
  border: solid 1px #000;
}

.todo {
  margin: 30px;
  padding: 10px;
  border: solid 1px #000;
}


.form {
  padding: 50px;
  margin: 0 auto;
  display: block;
}

.button {
  margin: 0 auto;
  display: block;
}