li {
  list-style: none;
}

.title {
  text-align: center;
}

.todo {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  padding: 10px;
  width: 400px;
  border: solid 1px #000;
}

.check {
  margin-left: 350px;
  display: flex;
}

.textinput {
  padding: 50px;
  margin: 0 auto;
  display: block;
}

.submit-button {
  margin: 0 auto;
  display: block;
}

.delete-todo {
  margin: 0 auto;
  display: block;
}
